@import '../../style/variables.scss';

.latestnews {
    background-color: $color2;
    padding: 100px 0px;

    .latestnews__content {
        color: $text-color;
        h2 {
            color: $text-color;
            font-style: italic;
        }

        .number__box {
            display: flex;
            justify-content: center;

            .number {
                display: flex;
                width: fit-content;
                border-radius: 5px;
                background-color: $color1;
                overflow: hidden;
                
                .onlynumber {
                    padding: 5px 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: $color2;
                    }
                }

                .active{
                    background-color: $color3;
                }

                .number__next {
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    cursor: pointer;
                    background-color: transparent;
                    color: $text-color;
                    border: 0;

                    &:hover {
                        background-color: $color2;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .number__prev {
                    display: flex;
                    align-items: center;
                    padding: 0px 5px 0px 13px;
                    cursor: pointer;
                    background-color: transparent;
                    color: $text-color;
                    border: 0;
                    
                    &:hover {
                        background-color: $color2;
                    }
                    &:focus {
                        outline: none;
                    }
                }

                .more__numbers {
                    padding: 0px 5px;
                }
            }
        }
    }

    .trending {
        h3 {
            color: $text-color;
            font-style: italic;
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .latestnews__ads {
        display: flex;
        justify-content: center;
        align-items: center;

        .adsimg {
            width: 100%;
        }
    }
}