@import '../../style/variables.scss';

.latestnews {
    background-color: $color2;
    padding: 100px 0px;
    color: $text-color;

    .latestnews__ads {
        display: flex;
        justify-content: center;
        align-items: center;

        .adsimg {
            width: 100%;
        }
    }
}