@import '../../style/variables.scss';

.Hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
    .carousel {
        height: 100%;
        background-image: linear-gradient(to right, $color1, $color3);
    
        .carousel-indicators-numbers {
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                text-indent: 0;
                margin: 0 2px;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 100%;
                line-height: 30px;
                color: $color3;
                background-color: transparent;
                border: 1px solid $color3;
                transition: all 0.25s ease;

                &.active, &:hover {
                    margin: 0 2px;
                    width: 30px;
                    height: 30px;
                    color: $text-color;
                    background-color: $color3;  
                    cursor: pointer;      
                }
            }
        }
        
        .homepage__imgbox {
            width: 100%;
            height: 100%;
            
            .homepage__image {
                opacity: 0.5;
                width: 100%;
                height: auto;
            }
        }

        .hero__content {
            // position: absolute;
            // z-index: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-color;

            h1 {
                color: $text-color;
                font-size: 4vw;

                @media screen and (max-width: 768px) {
                    font-size: 35px;
                }
            }

            .hero__des {
                width: 50%;
                font-size: 1.5vw;
                text-align: center;
                color: gray;
                font-weight: 500;

                @media screen and (max-width: 768px) {
                    width: 80%;
                    font-size: 12px;
                }
            }

            .hero__read {
                background-color: white;
                font-style: italic;
                border: 0;
                padding: 20px 40px;
                font-weight: 500;
                color: black;
                margin-top: 50px;
                box-shadow: 10px 10px 1px $color4;
                cursor: pointer;
                
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }

                .arrowbtn__1 {
                    align-items: center;
                    font-size: 15px;
                    margin-left: 10px;
                    color: $color4;

                    @media screen and (max-width: 768px) {
                        margin-left: 0px;
                        font-size: 10px;
                    }
                }
                .arrowbtn__2 {
                    font-size: 15px;
                    margin-left: -8px;
                    color: $color4;
                    opacity: 0.5;

                    @media screen and (max-width: 768px) {
                        margin-left: -5px;
                        font-size: 10px;
                    }
                }
            }
        }
    
        .carousel-control-prev, .carousel-control-next {
            width: 100px;
        }
    
        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 25px;
            background-color: $color3;
    
            .carousel-control-prev-icon {
                color: white;
            }
        }
    }
}